{{>menuVips}}

<div class="libelle">
  Modifier VIPs
</div>
<br>
{{#each PersModif}}
<form class="formulaireAjoutVip" action="/administration/modifierVip/form/{{this.vip_numero}}" method ="post">
  <div class="textBase">
    <label>Nom :</label><input type="text" name="nom" value="{{this.vip_nom}}"><br><br>
    <label>Prenom :</label><input type="text" name="prenom" value="{{this.vip_prenom}}"><br><br>
    <label>Sexe :</label>
    <select name="sexe">
      <option value="">--Choisir--</option>
      <option value="M">Masculin</option>
      <option value="F">Feminin</option>
    </select><br><br>

    <label>Date de naissance :</label><input type="date" name="naissance" value="{{formatDate this.vip_naissance 'YYYY-MM-DD' }}"><br><br>
    <label>Nationalité :</label>
    <select name="nationalite">
        <option value="{{this.nationalite_numero}}">{{this.nationalite_nom}}</option>
      {{#each ../ListeNationalite}}
      <option value="{{this.nationalite_numero}}">{{this.nationalite_nom}}</option>
      {{/each}}
    </select><br><br>
    <label>Commentaire :</label><textarea name="text" >{{this.vip_texte}}</textarea><br><br>

    <input type="submit" name="Ajouter" value="Modifier">
  </div>

</form>
{{/each}}
